{% extends 'base.html' %}
{% block content %}
{% load static %}
<h2 class="my-3 border-bottom pb2">&nbsp&nbsp Monitoring</h2>

<div class='container'>
    <h3>Project Name &nbsp : {{ project.NAME }}</h3>
    <br>
    <h4><Strong>Pods</Strong></h4>
    <div>
        {% for pod_item in pod_list %}
        <div style="border: 1px solid black; padding: 10px;">
            Name : {{ pod_item.metadata.name }}
            <br>
            Create Time : {{ pod_item.metadata.creationTimestamp }}
            <br>
            Node : {{ pod_item.spec.nodeName }}
            <br>
            State : {{ pod_item.status.phase }}
            <br>
            {% for pod_kind in pod_item.metadata.ownerReferences %}
                Deploy Controller : {{ pod_kind.kind }}
            {% endfor %}
            <!--POD RUNNING 상태-->
            <br>
            <br>
            <ul>
                <li>
                    <p>POD Status</p>
                    {% for pod_status in pod_item.status.conditions %}
                        <div style="border: 1px solid blue; padding: 10px;">
                            {{ pod_status.type }} : {{ pod_status.status }}
                        </div>
                    {% endfor %}
            
                </li>
                <br>
                <li>
                        <!--Container information-->
                        <p>Containers</p>
                        {% for pod_container in pod_item.spec.containers %}
                            <div style="border: 1px solid orange; padding: 10px;">
                                Name : {{ pod_container.name }}
                                <br>
                                Image : {{ pod_container.image }}
                                {% for pod_condition in pod_item.status.containerStatuses %}
                                    {% if pod_condition.name == pod_container.name %}
                                        <br>
                                        {% for key, value in pod_condition.state.items %}
                                            state : {{ key }}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                <br>
                                <br>
                                <!--Conatiner Ports-->
                                {% if pod_container.ports %}
                                    Ports Information
                                {% endif %}
                                {% for container_port in pod_container.ports %}
                                <div style="border: 1px solid red; padding: 10px;">
                                    {% if container_port.name %}
                                        {{ container_port.name }} : {{ container_port.containerPort }}/{{ container_port.protocol}}
                                    {% else %}
                                        {{ container_port.containerPort }}/{{ container_port.protocol}}
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                            <br>
                        {% endfor %}
                </li>
            </ul>
        </div>
        <br>
        <br>
        {% endfor %}
    </div>
    <br>
    <br>
    <h4><Strong>Services</Strong></h4>
    <div>
        {% for service_item in service_list %}
        <div style="border: 1px solid black; padding: 10px;">
            Name : {{ service_item.metadata.name }}
            <br>
            Create Time : {{ service_item.metadata.creationTimestamp }}
            <br>
            Service Type : {{ service_item.spec.type }}
            {% if service_item.status.loadBalancer %}
                {{ service_item.status.loadBalancer }}
            {% endif %}
            <br>
            <br>
            <!--Service Ports-->
            <ul>
                <li>
                <p>Ports Conatiners</p>
                {% for service_port in service_item.spec.ports %}
                    <div style="border: 1px solid orange; padding: 10px;">
                        {% for key, value in service_port.items %}
                            {{ key }} : {{ value }}
                            <br>
                        {% endfor %}
                    </div>
                {% endfor %}
                </li>
            </ul>
        </div>
        <br>
        {% endfor %}
    </div>
</div>
{% endblock %}